* {
    color: #3b3b3b;
}

table {
    border-collapse: collapse;
    border-top: 1px solid #3b3b3b;
    border-left: 1px solid #3b3b3b;;
    margin: 16px;
    table-layout: fixed;
    width: 800px;
}

th,
td {
    border-bottom: 1px solid #3b3b3b;;
    border-right: 1px solid #3b3b3b;;
}

.samples td {
    padding: 8px;
    text-align: center;
}

.samples td input,
.samples td textarea {
    width: 80%;
}

.forcusable {
    display: inline;
}
